li {
  width: 15%;
  display: inline-block;
  font-size: 20%;
  border: solid 2px slategrey;
}

button {
  display: block;
}

.j-items {
  width: 80%;
}


header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: slategray;
  color: white;
}

.register-icon {
  background-color: white;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 10px 10px;
}

.jikanwari {
  display: flex;
  flex-direction: column;
  align-items: center;
}